* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #fffefd;
  color: #000102;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

a {
  color: #00979d;
}