#upload-page form {
  border: 1px solid #ccc;
  padding: 0.5em;
}

#upload-page .row {
  padding: 0.5em
}

#upload-page .row label {
  display: block;
  font-weight: bold;
}

#upload-page #status-text {
  color: #888;
}

#upload-page #submit-button {
  display: inline-block;
  background: #4c8;
  color: #fff;
  padding: 0.5em 1em;
}